<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ProjectServlet</servlet-name>
        <servlet-class>fyp.controller.ProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormServlet</servlet-name>
        <servlet-class>fyp.controller.FormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseServlet</servlet-name>
        <servlet-class>fyp.controller.CourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentServlet</servlet-name>
        <servlet-class>fyp.controller.DocumentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProgressLogServlet</servlet-name>
        <servlet-class>fyp.controller.ProgressLogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupervisorAssignmentServlet</servlet-name>
        <servlet-class>fyp.controller.SupervisorAssignmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeachServlet</servlet-name>
        <servlet-class>fyp.controller.TeachServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>fyp.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProjectServlet</servlet-name>
        <url-pattern>/ProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormServlet</servlet-name>
        <url-pattern>/FormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseServlet</servlet-name>
        <url-pattern>/CourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentServlet</servlet-name>
        <url-pattern>/DocumentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgressLogServlet</servlet-name>
        <url-pattern>/ProgressLogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupervisorAssignmentServlet</servlet-name>
        <url-pattern>/SupervisorAssignmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeachServlet</servlet-name>
        <url-pattern>/TeachServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
    

</web-app>
